<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .wide-px {
            margin: 0px 100px;
        }

        .wide-vw {
            margin: 20vw;
        }
        .box {
            background-color: burlywood;
            height: 50px;
        }

        
    </style>
</head>
<body>
    <div class="box wide-vw">
        sdsd
    </div>
    
</body>
</html>